/* Layout styles on page level (not block level), e.g. set by EDS template */
.twocolumns {
    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "left main";
    }

    .section {
        grid-area: main;
    }

    .section.leftbox {
        grid-area: left;
    }
}
